<section class="bg-white py-16 dark:bg-gray-950">
  <div class="container mx-auto px-4">
    <h2 class="text-center text-lg font-semibold text-gray-600 dark:text-gray-400" data-bild-block-index="{{blockIndex}}" data-bild-prop="title">
      {{title}}
    </h2>
    <div class="mt-8 grid grid-cols-2 gap-8 md:grid-cols-4 lg:grid-cols-6">
      {{#each logos}}
      <div class="col-span-1 flex justify-center">
        <img
          class="h-12 w-auto object-contain"
          src="{{this.src}}"
          alt="{{this.alt}}"
        />
      </div>
      {{/each}}
    </div>
  </div>
</section> 